@font-face {
  font-family: 'Monarch';
  src:  url('./fonts/Monarch.woff') format('woff'), /* Pretty Modern Browsers */
        url('./fonts/Monarch.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Nimbus';
  src:  url('./fonts/NimbusSansextended.woff') format('woff'), /* Pretty Modern Browsers */
        url('./fonts/NimbusSansextended.otf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Opposit';
  src:  url('./fonts/Opposit-Regular.woff2') format('woff2'), /* Pretty Modern Browsers */
        url('./fonts/Opposit-Regular.otf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 400;
}
@font-face {
  font-family: 'Opposit';
  src:  url('./fonts/Opposit-Medium.woff2') format('woff2'), /* Pretty Modern Browsers */
        url('./fonts/Opposit-Medium.otf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 500;
}
@font-face {
  font-family: 'Agipo';
  src:  url('./fonts/agiporegularextended.woff2') format('woff2'), /* Pretty Modern Browsers */
        url('./fonts/AgipoRegExt.otf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 400;
}
html,
body,
#root {
    height: 100%;
    width: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}
.opposit {
  font-family: Opposit;
}
.agipo {
  font-family: Agipo;
}
* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: 'Agipo', arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: flex;
  flex-flow: column;
}

a {
  color:#000000;
  text-decoration: none;
}
a.standard:hover {
  color:#888888;
}


.Marquee {
  overflow: hidden;
}
.MarqueeContent {
  white-space: nowrap;
  height: 100%;
}

.animated-page-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
